<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269435471893-fa4db3rqsm7b4ttvd4kuov7dfbmml9ik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269435471893-fa4db3rqsm7b4ttvd4kuov7dfbmml9ik</string>
	<key>API_KEY</key>
	<string>AIzaSyA4uU0sObtOhxYVV5yrNoeWY63h4Bi3XcA</string>
	<key>GCM_SENDER_ID</key>
	<string>269435471893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ucu-cs-gapunovych.Anxiolytic</string>
	<key>PROJECT_ID</key>
	<string>anxiolytic</string>
	<key>STORAGE_BUCKET</key>
	<string>anxiolytic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269435471893:ios:a5978b2ed2fef7894ee61c</string>
</dict>
</plist>